terraform {
  backend "s3" {
    region                   = "ru-central1"
    profile                  = "${profile}"
    shared_credentials_file  = ".backend/credentials"
    bucket                   = "${bucket_id}"
    key                      = "${key}"

    endpoint          = "https://storage.yandexcloud.net"
    dynamodb_endpoint = "${dynamodb_endpoint}"
    
    dynamodb_table = "${dynamodb_table}"

    skip_credentials_validation = true
    skip_region_validation      = true
    skip_metadata_api_check     = true
    force_path_style            = true
  }
}
